[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.3"
djangorestframework = "==3.13.1"
django-cors-headers = "==3.11.0"
asgiref = "==3.5.0"
pytz = "==2022.1"
sqlparse = "==0.4.2"
tzdata = "==2022.1"

[dev-packages]

[requires]
python_version = "3.9"
